.loginsignup{
  width: 100%;
  min-height: 100vh;
  background: #fce3fe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginsignup-container{
  width: 420px;
  background: white;
  padding: 35px 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.loginsignup-container h1{
  margin-bottom: 25px;
  font-size: 28px;
}

.loginsignup-fields{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginsignup-fields input{
  height: 50px;
  width: 100%;
  padding-left: 15px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 16px;
}

.loginsignup-container button{
  width: 100%;
  height: 50px;
  color: white;
  background: #ff4141;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.loginsignup-login{
  margin-top: 15px;
  color: #5c5c5c;
  font-size: 14px;
}

.loginsignup-login span{
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree{
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}