.navbar {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 50px;
  height: 80px;
  border-bottom: 1px solid #eee;
}


.nav-logo img {
  width: 140px;
  margin-left: -50px;
  
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

}
.nav-login-cart button:active{
  background-color: #626262;
}

.login-btn {padding: 12px 30px;
  border: 1px solid #7a7a7a;
  background: white;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}



.cart-icon {

   font-size: 28px;
  cursor: pointer;
}





.nav-part-count{
  position: absolute;
  top: -6px;
  right: -10px ;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content:center ;
  align-items: center;
  
  
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
.search{
  border: 2px solid gray;
  border-radius: 45px;
  padding: 8px 16px;
  align-items: center; 
  
}
.search input{
  border: none;
  width: 600px;
  max-width: 100%;
  font-size: 18px;
  outline: none;
}
.search button{
  border: none;
  
  background: white;
  font-size: 19px;
  cursor: pointer;
}
