.NewCollections{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.NewCollections h1{
  color: #171717;
  font-size: 50px;
  font-weight: 600;

}
.NewCollections hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.Collections{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}
.item{
  width: 250px;
}
.item img{
  width: 100%;
  height: auto;
  object-fit: cover;
}