.nav-menu {
  list-style: none;
  margin: 0;
  padding: 40px 20px;

  position: fixed;
  top: 80px;              /* height of navbar */
  left: 0;

  width: 220px;
  height: calc(100vh - 80px);

  background-color: #ffffff;
  border-right: 1px solid #eee;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Links */
.nav-menu li a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

/* Hover underline */
.nav-menu li span {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ff4141;
  transition: width 0.3s ease;
}

.nav-menu li:hover span {
  width: 100%;
}
