.Popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.Popular h1{
  color: #171717;
  font-size: 50px;
  font-weight: 600;

}
.Popular hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.Popular-item{
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.item{
  width: 250px;
}
.item img{
  width: 100%;
  height: auto;
  object-fit: cover;
}